* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --highlight: #EAF0CE;
  --light-neutral: #C0C5C1;
  --dark-neutral: #7D8491;
  --light-bg: #574B60;
  --dark-bg: #3F334D;
}

body {
  background-color: var(--light-bg);
  font-family: Helvetica, Arial, sans-serif;
  color: var(--light-neutral);
}

/* HEADER STYLE START */
header {
  padding: 20px 35px;
  background-color: var(--dark-bg);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header nav ul li a:hover {
  background: var(--highlight);
  color: var(--dark-bg);
  border-radius: 15px;
  text-shadow: none;
}

header h1 {
  font-weight: bold;
  font-size: 50px;
  color: var(--highlight);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--highlight);

}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*END HEADER STYLE*/

/*HERO SECTION STYLE*/
.hero div {
  height: 500px;
  width: 100%;
  background-image: url(../images/hero-bg.jpg);
  background-repeat: space;
  background-size: auto;
  background-position: top;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.hero h2{
  font-style: italic;
  font-size: 55px;
  color: var(--highlight);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}
/*END HERO SECTION*/

/*GENERAL STYLE*/
.section-title {
  font-size: 48px;
  color: var(--highlight);
  border-bottom: 3px solid;
  padding: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: var(--highlight);
}

.secondary-border {
  border-color: var(--light-neutral);
}
/*GENERAL STYLE END*/

/*ABOUT ME STYLE*/
.my-intro p {
  line-height: 1.7;
  color: var(--tertiary-color);
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}
/*ABOUT ME END*/

/*PROJECT STYLE SECTION*/
.my-projects h3 {
  color: var(--highlight);
  font-size: 28px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: max-content;
  position: relative;
}

.my-projects span {
  color: var(--highlight);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.my-projects a {
  text-decoration: none;
}

.my-projects a:hover {
  opacity: 75%;
}

.main-project {
  padding: 10px;
  margin: auto;
  margin-bottom: 40px;
  border: 1px solid var(--light-neutral);
  display: flex;
  min-width: 400px;
  max-width: 600px;
  min-height: 175px;
  flex: 1 1 0;
  border-radius: 15%;
}

.secondary-projects {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.project {
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid var(--light-neutral);
  display: flex;
  min-width: 400px;
  min-height: 175px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 15%;
}

.project div {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
}
.LFG-The-Ocho {
  background-image: url(../images/LFG-the-ocho.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.run-buddy{
  background-image: url(../images/run-buddy.jpg);
}

.robot-gladiator {
  background-image: url(../images/robots.jpg);
}

.pass-gen {
  background-image: url(../images/passwords.jpg);
}

.idk-you-pick {
  background-image: url(../images/idkyoupicksnip.PNG);
}

.idk-you-pick h3{
  color: var(--dark-bg);
}

.idk-you-pick span{
  color: var(--dark-bg);
}

.led-wall {
  background-image: url(../images/led-wall.jpg);
}

.pastel-puzzle {
  background-image: url(../images/puzzle-pieces.jpg);
}
/*PROJECT STYLE END*/

/*RESUME*/
.my-resume {
  text-align: center;
}

.my-resume a {
  font-size: 20px;
  color: var(--light-neutral);
}

.my-resume a:hover {
  background-color: var(--highlight);
  color: var(--dark-bg);
  border-radius: 15px;
  text-shadow: none;
}

/*CONTACT SECTION*/
.my-contact {
  font-size: 20px;
  text-align: center;
}

.my-contact a {
  color: var(--light-neutral);
}

footer {
  text-align: center;
}

/* STYLE FONT AWESOME LINKS */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: var(--dark-bg);
  color: var(--light-neutral);
}

/* ADD HOVER TO FA LINKS */
.fa:hover {
  opacity: 0.7;
}
/*CONTACT STYLE END*/

/*UTILITIES*/
.flex-row{
  display: flex;
}
/*UTILITIES END*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .section-title {
    width: 80%;
  }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .section-title {
    width: 95%;
  }
}